#p1 {
  font-family: monospace;
}

#p2 {
  font-family: "Times New Roman", Times, serif;
  outline-style: solid;
}

#p3 {
  font-family: Arial, Helvetica, sans-serif;
}

#pDiv {
  line-height: 1.5em;
  background-color: whitesmoke;
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}

body {
  background-color: rgb(238, 209, 78);
}
